<ion-content class="home ion-padding">
  <div class="home-wrapper">
    <div class="logo-container">
      <img src="assets/splash-removebg-preview.png" alt="Logo" class="logo" />
      <h1 class="title">Examen de Conducción</h1>
      <ion-button expand="block" class="start-btn" (click)="startTest()">
        Iniciar Test
      </ion-button>
    </div>

    <div class="signature">MomoDev 🐌✨</div>
  </div>

  <!-- Overlay de carga -->
  <app-loading-overlay [visible]="isLoading"></app-loading-overlay>
</ion-content>
